.air-quality {
  background-image: url('https://img.freepik.com/free-vector/natural-phenomena-disaster-illustration-with-strong-wind-flat_1284-56755.jpg');

  border-radius: 10px;
  height: 200px;

  background-size: cover;
}
