.WeatherCard {
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.cloud-icon {
  height: 30px;
  width: 30px;
  margin-left: 1rem;
}

.cardDate {
  margin-left: 1rem;
}

.cardTemp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minMaxTemp {
  margin-left: 1.5rem;
  color: orange;
  white-space: nowrap;
}
