.grid-1x2 {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 80vh;
  margin: 5rem;
}

.container1 {
  background-color: white;
  padding: 5rem;
}

.grid-1x4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px, 1fr;
  column-gap: 10px;
  row-gap: 20px;
}

.forecast {
  display: grid;
  grid-template-columns: 70% 1fr;
  margin-top: 2rem;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.container2 {
  background-color: lightgray;
  margin: 4rem 2rem;
}
