.air-quality {
  background-image: url('https://img.freepik.com/free-vector/stone-gates-entrance-autumn-city-garden-park_107791-9665.jpg');

  border-radius: 10px;
  height: 200px;

  background-size: cover;
}
